#header {
	letter-spacing: 3px;
	background-color: #ffa64d;
}

#footer {
	letter-spacing: 2px;
	color: #990000;
}

h1 {
	font-style: italic;
	color: #990000;
}
#restaurantBody {
	background-color: rgb(255, 255, 229);
}
th {
	text-align: left;
}
div.restaurantName {
	font-size: 180%;
	font-family: 'Courier New';
	font-weight: bold;
	color: #990000;
	text-align: center;
}
#menu {
	background-color: #e65c00;
}
a:link {
	color: #990000;
	text-decoration: underline;
}
a:visited {
	color: #ffffff;
	text-decoration: underline;
}
a:hover {
	font-weight: bold;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
}